* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 60vw auto;
    background-color: #2196F3;
}
  
.grid-item {
    padding: 20px;
    font-size: 30px;
    border: 1px solid red;
    height: 100vh;
}

.bgc {
    background-color: black;
    color: white;
    font-size: 1vw;
    text-align: center;
}

.speed {
    padding-left: 10px;
    padding-right: 10px;
}

.settings {
    font-weight: bold;
    font-size: larger;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center ;
    width:200px;
    height:100px;
    border:1px solid green;
    margin-left: 20%;
}

.colors0 {
    padding: 10px;
    background-color: red;
    border: none;
}

.colors1 {
    padding: 10px;
    background-color: green;
    border: none;
    margin-left: 10px;
}

.colors2 {
    padding: 10px;
    background-color: purple;
    border: none;
    margin-left: 10px;
}

.colors3 {
    padding: 10px;
    background-color: blue;
    border: none;
    margin-left: 10px;
}

.main {
    border: 5px solid pink;
    font-size: small;
    position: relative;
    max-height: inherit;
    overflow-y: auto;
    width: 60vw; /* or whatever width you want. */
    max-width:60vw; /* or whatever width you want. */
    display: inline-block;
}

.scored {
    font-size: larger;
}

.snake {
    background-color: green; 
    position:absolute; 
    width:50px; 
    height:50px; 
    top:0px; 
    left:0px;
}

.snekcless {
    position: absolute;
    
}

.fsh {
    width: 60vw;
    height: 60vh;
}